$primary-color: #3b34a1;
$secondary-color: #e1400f;
$background-color: #f77307;
$block-color: #101d4f;
$secondary-block-color: #2c2b2b70;
$blue-filter: rgba(0, 0, 255, 0.3);
$text-color: white;
$additional-background-color: #3b34a045;
$gradient: linear-gradient(90deg, #3b34a1 0%, #e1400f 100%);